.App {
  display: flex;
  background-color: gray;
  height: 100vh;
  padding: 5vh;
  justify-content: center;
  
}

.formContainer {
  display: flex;
  border: 1px solid white;
  background-color: white;
  width: 80vh;
  height: 100vh;
  border-radius: 8px;
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.formContainer2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.formTitle {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
}